{% extends 'pokemon/_base.html' %}
{% load static %}

{% block base_content %}
<h1>Pokemon List</h1>

<div class="row row-cols-auto gy-4 justify-content-center">

    {% for pokemon in pokemons %}
    <div class="col">

        <div class="card" style="max-width: calc(320px - 1.5rem)">
            {% if pokemon.image %}
            <img src="{{ pokemon.image.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'pokemon/placeholder.svg' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ pokemon.number }} {{ pokemon.name }}</p>
            </div>
            <a class="stretched-link" href="/pokemon/{{ pokemon.slug }}/"></a>
        </div>

    </div>

    {% endfor %}

</div>



{% endblock %}