{% extends 'pokemon/_base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ pokemon.name|capfirst }}{% endblock %}
{% block head_desc %}{{ pokemon.name|capfirst }}{% endblock %}


{% block base_content %}
<div class="row mb-3">
    <div class="col-md-4">
        <img src="{{ pokemon.image_url }}" alt="" class="img-thumbnail" width="475" height="475">
    </div>
    <div class="col-md-8">
        <div class="h-100 border rounded pt-2 px-4 pb-3">
            <div class="h-100 d-flex flex-column gap-3 justify-content-between">
                <div>
                    <h1>{{ pokemon.name|capfirst }}</h1>
                    <div class="d-flex gap-2">
                        {% for category in pokemon.categories.all %}
                        <span class="badge" style="background: {{ category.color.bg }}; color: {{ category.color.text }};">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    {% for comment in pokemon.comments.all %}
    <div class="list-group-item py-3">
        <div class="d-flex gap-2 justify-content-between">
            <div>
                <h6 class="mb-0">Comment by {{ comment.user }}</h6>
                <p class="mb-0 text-body-secondary">{{ comment.text }}</p>
            </div>
            <small class="text-body-tertiary text-nowrap">{{ comment.create_dt|timesince }} ago</small>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-light text-center">No comments yet.</div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/pokemon/{{ pokemon.slug }}/comment/">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}