{% extends 'pokemon/_base.html' %}
{% load static %}

{% block head_title %}List of Pokemons{% endblock %}
{% block head_desc %}Explore our comprehensive Pokédex list featuring all Pokémon species, including types, stats, and abilities. Find your favorite Pokémon and complete your collection today.{% endblock %}

{% block base_content %}
<div class="my-3">
    <h1 class="text-center">Pokemon List - page {{ page.number }}</h1>
</div>

<div class="row row-cols-auto gy-4 justify-content-center">

    {% for pokemon in page.object_list %}
    <div class="col">
        <div class="card" style="max-width: calc(320px - 1.5rem)">
            {% if pokemon.image %}
            <img src="{{ pokemon.image.url }}" class="card-img-top" alt="" width="475" height="475" style="height: auto;" loading="lazy">
            {% else %}
            <img src="{% static 'pokemon/placeholder.svg' %}" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
                <h2 class="fs-4">#{{ pokemon.number }} {{ pokemon.name }}</h2>
                <div class="d-flex gap-2">
                    {% for category in pokemon.categories.all %}
                    <span class="badge" style="background: {{ category.color.bg }}; color: {{ category.color.text }};">{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <a class="stretched-link" href="/pokemon/{{ pokemon.slug }}/" aria-label="{{ pokemon.name }}"></a>
        </div>
    </div>

    {% endfor %}

</div>

<div class="my-4 d-flex gap-4 justify-content-center">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Per Page
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ per_page_url }}page=1&per_page=10">10</a></li>
            <li><a class="dropdown-item" href="{{ per_page_url }}page=1&per_page=20">20</a></li>
            <li><a class="dropdown-item" href="{{ per_page_url }}page=1&per_page=50">50</a></li>
        </ul>
    </div>

    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator_url }}&page={{ page.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for item in page_range %}
        <li class="page-item {% if item == page.number %}active{% endif %}">
            <a class="page-link" href="{{ paginator_url }}&page={{ item }}">{{ item }}</a>
        </li>
        {% endfor %}
        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator_url }}&page={{ page.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    </nav>
</div>


{% endblock %}