{% load static %}

{% for pokemon in object_list %}
<div class="col">
    <div class="card" style="max-width: calc(320px - 1.5rem)">
        <img src="{{ pokemon.image_url }}" class="card-img-top" alt="Image of {{ pokemon }}" width="475" height="475" style="height: auto;" loading="lazy">

        <div class="card-body">
            <h2 class="fs-4">#{{ pokemon.number }} {{ pokemon.name }}</h2>
            <div class="d-flex gap-2">
                {% for category in pokemon.categories.all %}
                <span class="badge" style="background: {{ category.color.bg }}; color: {{ category.color.text }};">{{ category.name }}</span>
                {% endfor %}
            </div>
        </div>
        <a class="stretched-link" href="{{ pokemon.get_absolute_url }}" aria-label="{{ pokemon.name }}"></a>
    </div>
</div>
{% endfor %}